*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: #0b3d5b;
}

.logo{
   color: #F6F0ED;
   font-size: 30px;
   text-align: center;
   border-bottom: 1px solid #BBB193;
   padding: 10px 0;

}


nav{
    font-size: 20px;
    border-bottom: 1px solid #BBB193;
    background-color: #0b3d5b;
    position: sticky; /*Solo funciona si lo pongo en el header, no en el nav, porque??*/
    top: 0;
    z-index: 1; 
    
}
nav .menu{
    text-align: center;
    
}

nav .menu li{
    display: inline-block;
    margin: 0 17px;
    position: relative;
    
}
nav .menu li a{
    color: #F6F0ED;   
}

nav .menu li a:hover{
    color: #C2948A;
}

nav .menu li .Submenu{ /*cómo hago para que me queden pegadas la palabra a la box?*/
    display: none;
    background: #0b3d5b;
    position: absolute;
    left: 0;
    width: 120px;
    padding: 0;
    margin: 0;
    
}   

nav .menu li:hover .Submenu{
    display: block;
}

#home {
    box-sizing: border-box;
    border-bottom: 1px solid #BBB193;  
}

#home img{
    width: 100%;    
}

#Members{
    background-color: #F6F0ED;
    color: #0b3d5b;
    box-sizing: initial;
}

#Members h2{
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 0.06em;
}

#History{
    color: #F6F0ED;
}

#History h2{
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 0.06em;
}

#History p{
    padding: 8px 6px;
    letter-spacing: 0.01em;
}