*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.t{
    width: 100px;
    height: 100px;
    background: red;
    transition: width .5s, background 2s;
}

.t:hover{
    /* transform: translate(100px, 300px) rotate(45deg) scale(1.5); */
    width: 300px;
    background: blue;
}

a{
    display: inline-block;
    padding: 10px 30px;
    background: tomato;
    color: #ffffff;
    text-decoration: none;
    border-radius: 40px;
    margin: 30px;
    transition: all 0.5s;
}

a:hover{
    background: palevioletred;
    
}

img{
    margin: 30px;
    filter: grayscale(23);
    transition: transform 0.5s, filter 0.5s;
}

img:hover{
    transform: scale(1.1);
    filter: grayscale(0);
    box-shadow: 2px 1px 5px black;
}

@keyframes rotarycambiardecolor{
    0%{
        transform: rotate(0);
        background: green;
    }

    25%{
        transform: rotate(70deg);
        background: pink;
    }

    60%{
        transform: rotate(20deg);
        background: lime;
    }

    100%{
        transform: rotate(0);
        background: green;
    }
}

.animar{
    width: 150px;
    height: 150px;
    background: green;
    animation-name: rotarycambiardecolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
}